name: Check style

on: [push, pull_request]

permissions:
  contents: read

jobs:
  ruff:
    name: Ruff
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: '1'
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install Ruff
        id: install-ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: '0.14.x'
          args: '--version'

      - name: Run Ruff's linter - statistics
        run: |
          unset RUFF_OUTPUT_FORMAT
          ruff check --statistics $(git ls-files '*.py')
        if: ${{ !cancelled() && steps.install-ruff.outcome == 'success' }}

      - name: Run Ruff's linter - code annotations
        run: ruff check $(git ls-files '*.py')
        if: ${{ !cancelled() && steps.install-ruff.outcome == 'success' }}

      - name: Run Ruff's formatter
        run: |
          unset RUFF_OUTPUT_FORMAT
          ruff format --check --diff $(git ls-files '*.py')
        if: ${{ !cancelled() && steps.install-ruff.outcome == 'success' }}

  pylint:
    name: Pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Run Pylint
        run: |
          pylint $(git ls-files '*.py')
